<section class="noAutorizado">
  <div class="container checkout">
    <h2>Your purchase was successful!</h2>
    <h2>Thank you
      {{user.first_name}}
      {{user.last_name}}
      {{user.user.first_name}}
      for shopping at El Sétimo Rayo!</h2>
    <h1>User e-mail: {{cart.user.email}}</h1>
    <h2>Purchase details:</h2>
    <ul>
      {{#each cart.items}}
        <section class="flex-card">
          <div>
            <img
              class="card-img-top checkout-img"
              src="{{this.producto.thumbnail}}"
              alt="Imagen del producto"
            />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{this.producto.title}}</h4>
            <h3 class="card-text">Amount: {{this.cantidad}}</h3>
            <h5 class="card-text">Price: $ {{this.producto.price}}.-</h5>
          </div>
        </section>
      {{/each}}
    </ul>
    <h5 class="card-text">Total price: $ {{totalPrice}}.-</h5>
    <h3>Purchase code: {{cart.code}}</h3>
    <h3>Date and time of purchase: {{cart.purchase_datetime}}</h3>
    <form action="/carts/{{cart._id}}/delete" method="POST">
      <input type="hidden" name="cartId" value="{{cart._id}}" />
      <div class="input-group group-comprar">
        <button type="submit" class="btn btn-danger">
          OK
        </button>
      </div>
    </form>
  </div>
</section>