<div class="container text-center index_div">
    <section class="bienvenida">
        {{#if user}}
        <h1>Wellcome <a href="/users/profile"> {{user.first_name}} {{user.last_name}} {{user.user.first_name }} </a> </span></h1>
        {{else}}
        <h1>Wellcome</h1>
        {{/if}}
    </section>

    <h2>Favorite Products</h2>
    {{#if user}}
    <h3>Select the quantity of products to display</h3>
    <div class="input-group group-limit">
        <input type="number" name="cantidad" class="form-control" value="1" min="1" max="{{ productLength }}">
        <div class="input-group-append">
            <a href="/?limit=" class="btn btn-primary" id="verBtn">Show</a>
        </div>
    </div>
    {{/if}}
</div>


<section class="products">
    <div id="product-container" class="container products">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ this.thumbnail }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ this.title }}</h4>
                <p class="card-text">{{ this.description }} </p>
                <h5 class="card-text">${{ this.price }}.- </h5>
                <div class="buttons_pay">
                    <form action="/carts/{{this._id}}" method="POST">
                        <div class="input-group group-comprar">
                            {{#if this.stock}}
                            <input type="number" name="cantidad" class="form-control" value="1" min="1"
                                max={{this.stock}}>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">Add to cart</button>
                            </div>
                            {{else}}
                            <h1 class="NoHayStock">¡No stock!</h1>
                            {{/if}}
                        </div>
                    </form>

                    <a href="/productsid/{{this._id}}" class="btn btn-secondary">Details</a>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>


<script>
    document.getElementById("verBtn").addEventListener("click", function () {
        let cantidad = document.getElementsByName("cantidad")[0].value;
        let verBtn = document.getElementById("verBtn");
        verBtn.href = "/?limit=" + cantidad;
    });
</script>