<div class="container text-center index_div">
    <section class="bienvenida">
        {{#if user}}
        <h1>Welcome <a href="/users/profile"> {{user.first_name}} {{user.last_name}} {{user.user.first_name }} </a> </span></h1>
        {{else}}
        <h1>Welcome</h1>
        {{/if}}
    </section>

    <h2>Favorite Products</h2>
    {{#if user}}
    <h3>Select the quantity of products to display</h3>
    <div class="input-group group-limit">
        <input type="number" name="cantidad" class="form-control" value="1" min="1" max="{{ productLength }}">
        <div class="input-group-append">
            <a href="/?limit=" class="btn-filter btn-primary" id="verBtn">Show</a>
        </div>
    </div>
    {{/if}}
</div>


<section class="products container-fluid">
    <div id="product-container" class="container products">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ this.thumbnail }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ this.title }}</h4>
                <p class="card-text">{{ this.description }} </p>
                <h5 class="card-text">${{ this.price }}.- </h5>
                <div class="buttons_pay container-fluid">
                    <form action="/carts/{{this._id}}" method="POST">
                        <div class="input-group group-comprar">
                            {{#if this.stock}}
                            <div class="input-group mb-1">
                                <span class="input-group-text">Cantidad</span>
                                <input type="number" name="cantidad" class="form-control" value="1" min="1" max={{this.stock}} aria-label="Quantity">
                            </div> 
                            <div class="input-group mb-1">
                                <button type="submit" class="cssbuttons-io-button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                                <span>Add to cart</span>
                                </button>                                
                            </div>
                            {{else}}
                            <h1 class="NoHayStock">¡No stock!</h1>
                            {{/if}}
                        </div>
                    </form>

                    <button class="beautiful-button">
                        <a href="/productsid/{{this._id}}" >
                            Details
                        </a>
                    </button>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>


<script>
    document.getElementById("verBtn").addEventListener("click", function () {
        let cantidad = document.getElementsByName("cantidad")[0].value;
        let verBtn = document.getElementById("verBtn");
        verBtn.href = "/?limit=" + cantidad;
    });
</script>