<div class="container tablaUsuarios">
  <h1>User List</h1>
  <table class="table table-striped">
    <thead class="headTable">
      <tr>
        <th>First Name</th>
        <th>LAst Name</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Role</th>
        <th class="actions-column-todo">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td>{{this.first_name}}</td>
          <td>{{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.age}}</td>
          <td>{{this.role}}</td>
          <td class="actions-column">
            <a
              href="/users/edit/{{this._id}}"
              class="btn btn-primary btn-sm"
            >Edit</a>
            <a
              href="/users/delete/{{this._id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="input-group group-comprar">
    <a href="/users/newUser" class="btn btn-outline-success">Create a New User
      (Test Mode for Error Testing)</a>
    <a href="/signupadmin" class="btn btn-secondary">Create a New Account</a>
    <a href="/admin-panel" class="btn btn-primary">Go back</a>
  </div>
</div>